:root {
    --sideBarWidth: 300px;
    --primary: #55717e;
    --dark: rgb(253, 251, 255);
    --gray: #756388;
    --light: #3d3d3d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
}
