:root {
    --sideBarWidth: 300px;
    --primary: #55717e;
    --dark: #4c4e4e;
    --gray: #756388;
    --light: #ffffff;
}
body {
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
}
